/*==========================================COMMON CLASSES=============================================*/
.lora_font {
  font-family: "Lora", serif;
}
.roboto_font {
  font-family: "Roboto", sans-serif;
}
.new_rocker {
  font-family: "New Rocker", sans-serif;
}
.txt_dec {
  color: #000000;
  text-decoration: none !important;
}
.txt_dec:hover {
  color: #000000;
  text-decoration: none !important;
}

.expl_btn {
  color: #ffffff;
  text-decoration: none !important;
}
.expl_btn:hover {
  color: #ffffff;
  text-decoration: none !important;
}
.no_outline:focus {
  outline: none;
}
.black {
  color: #000000;
}
.dropdown-content {
  right: 0;
}

.breadcrumb {
  font-size: medium;
}
.card_title {
  font-size: 40px;
  text-decoration: underline solid #d87300 5px;
  border-bottom: 8px;
}

.no_resize {
  resize: none;
}
/* primarynavbar */
.primary_navbar {
  /* background-color: #c2c2c2; */
  height: 55px;
  background-image: radial-gradient(
    closest-corner at 10% 50%,
    #ffffff 10%,
    #c2c2c2
  );
}
.primary_navbar2 {
  height: 55px;
  background-image: radial-gradient(
    closest-corner at 50% 50%,
    #ffffff 1%,
    #c2c2c2
  );
}
.brand_name {
  /* margin-right: 20px; */
  font-size: 30px;
  z-index: 10;
  color: #000000;
  text-shadow: #ffffff 3px 3px 30px;
  /* text-decoration: underline 3px; */
}
.white_r::after,
.white_r::before,
.black_r::after,
.black_r::before,
.orange_r::after,
.orange_r::before,
.yellow_r::after,
.yellow_r::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 55px;
  transform: skew(-50deg);
  /* gap: 100px; */
  top: 0px;
}
.white_r::after,
.white_r::before {
  background: #ffffff;
}
.black_r::after,
.black_r::before {
  background: #22222280;
}
.orange_r::after,
.orange_r::before {
  background: #d87300;
}

.yellow_r::after,
.yellow_r::before {
  background: #ffd700;
}
.box_shadow {
  box-shadow: #818181 1px 1px 10px;
}

/*===========================================Landing page============================================*/
.shop_now {
  background-color: #d87300;
  border-radius: 5px;
}
.solemate {
  /* position: absolute; */
  /* top: 50%;
  width: 100%;
  text-align: center;
  font-size:larger; */
  color: #070707;
  /* text-shadow: #ffffff 2px 2px 80px; */
}
.shop_now_section {
  position: relative;
  top: 50%;
  left: 50%;
  font-size: larger;

  /* align-items: center;  */
}
.landingpage_pic {
  /* background-image: url(); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Custom CSS for overlay */
.overlay {
  position: relative;
}
.overlay-content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.overlay-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
/* Set a minimum height for the image on small screens */
@media (max-width: 1200px) {
  .overlay img {
    min-height: 500px;
    width: auto;
    height: 100%;
    object-fit: cover;
  }
}

/* #img_1_landing { */
/* background-image: url(); */
/* display: block;
 
  max-width: 100%; */
/* height: auto; */
/* } */
/*===============================================LOGIN===================================================*/
.login_body {
  /* background-image: url(/assets/img/404614.jpg); */

  background: radial-gradient(#ffd9004d, #d8730057);
}
/* .login_section{
  
} */
#logincard {
  border-radius: 20px;
  background-color: #d8730027;
  /* background: linear-gradient(135deg, rgb(216, 115, 0, 0.1), rgb(255, 217, 0,0)); */
  border: 5px solid rgb(216, 115, 0, 0.5);
  max-width: 500px;
  text-align: center;
  min-height: 150px;
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  box-shadow: 1px 1px 20px #000000;
}
.login_txt {
  text-decoration: underline;
  text-decoration-color: #ffd700;
  text-decoration-thickness: 5px;
}
.login_fields {
  border-color: transparent;
  border-top: 0px;
  border-bottom: 5px solid #d87300;
  background: transparent;
}
#login_btn {
  border-radius: 60px;
  width: fit-content;
  align-items: center;
  /* position: absolute;
  top: 90%;
  left: 50%; */
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}
#signup_btn {
  border-radius: 30px;
  width: 100px;
  background-color: #ff8a00;
}
/*===========================================Registeration==============================================*/
.register_body {
  background-image: url(/assets/img/website_pics/body1.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
#registercard {
  border-radius: 20px;
  background-color: #8181811a;
  /* background: linear-gradient(135deg, rgb(216, 115, 0, 0.1), rgb(255, 217, 0,0)); */
  border: 2px solid rgb(216, 115, 0, 0.1);
  max-width: 500px;
  text-align: center;
  min-height: 150px;
  backdrop-filter: blur(1rem);
  /* -webkit-backdrop-filter: blur(10px);  */
  box-shadow: 1px 1px 20px #000000;
}
.register_txt {
  text-decoration: underline;
  text-decoration-color: #d87300;
  text-decoration-thickness: 5px;
}
#create_account_btn {
  border-radius: 30px;
  width: fit-content;
  color: #000000;
  background-color: #ff8800;
}
.register_fields {
  border-color: transparent;
  border-top: 0px;
  outline: none;
  border-bottom: 2px solid #d87300;
  background: transparent;
}
#register_btn {
  border-radius: 30px;
  width: 100px;
  background-color: #ffd700;
  border: 10px solid #000000;
}
.successful_txt {
  text-decoration: underline;
  text-decoration-color: #45be3c;
  text-decoration-thickness: 5px;
}
/*===========================================CATLOG PAGE===============================================*/
/* .catlg_pg_product{ */
/* checkbox for filter */
/* 
  TRYING OT MAKE CUSTOM CHECK BOX
  
  .form-check-input{
    background-color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
    outline-color: #000000;
  }
  input[type="checkbox"]::after{
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: 900;
    font-size: smaller;
    color: #000000;
  }
  input[type="checkbox"]:hover {
    background-color: #CD6D00;
    opacity: 30%;
  }
  input[type="checkbox"]:checked {
    background-color: #ffffff;
  }
  input[type="checkbox"]:checked:after {
    display: block;S
  } */
.no_undrline_link {
  color: #000000;
  text-decoration: none !important;
}
.no_undrline_link:hover {
  color: #000000;
  text-decoration: none !important;
}
.filter_section {
  border-radius: 30px;
}
#year_dropdown {
  max-height: 200px;
  overflow-y: scroll;
}
.catlg_pg_product_img {
  width: 100%;
}
.catlg_pg_product_name {
  padding-top: 5%;
  height: 120px;
  font-family: "Roboto", sans-serif;
}
.buy_btn {
  background-color: #ff8a00;
  border-radius: 10px;
  font-size: medium;
  border: 0px;
}
.buy_btn:hover::before {
  content: "BUY ";
  font-size: medium;
}
.addtocart_icon {
  color: #000000;
  padding-bottom: 5%;
  z-index: 12;
}
.order_conf_card {
  box-shadow: 10px 10px 50px rgb(129, 129, 129);
}
/*==========================================User profile==============================================*/
.nav_tabs {
  background-image: linear-gradient(to right, #d87300c0 5%, #ffd70067, #ffffff);
  /* background-color: #81818162; */
  /* border-radius: 15px 15px 0px 0px ; */
}
/* .user_profile_body {
  background-color: #81818131;
} */
/* radial-gradient(#ffffff, #81818144) */
.user_profile_txt {
  font-size: 15px;
  color: #818181;
  font-weight: 500;
}
.user_profile_card {
  border-radius: 15px;
  border-color: #818181;
  min-height: 120px;
}
.tab_title {
  text-decoration: none;
  color: #000000;
  /* border-radius: 10px 10px 0px 0px; */
  min-height: 40px;
}
.user_profile_fields {
  border-color: #00000084;
  border-radius: 10px;
  min-height: 50px;
  font-size: 20px;
}
.update_btn {
  border-radius: 10px;
  border: 1px solid #000000;
  box-shadow: 0.1px 0.1px 5px #000000;
  background-color: #ffd700a1;
}
.reset_pass_fields {
  max-width: 400px;
}

/*=============================================View customer===========================================*/
.view_details {
  color: #7d7d7d;
}
.view_details:hover {
  color: #d87300;
  cursor: pointer;
}
.delete_item {
  color: #7d7d7d;
  text-decoration: none;
}
.delete_item:hover {
  color: #d80000;
  cursor: pointer;
  text-decoration: none;
}
/*=========================================Customer details============================================*/

.details_section {
  border-bottom-style: solid;
  border-color: #ffd700;
  font-size: 30px;
}
/* .customer_details_label{
  display: block; 
  color: #5c5c5c;
} */
/*==========================================Admin Panel===========================================*/

.admin_panel_btn {
  display: flex;
  background-color: #d87300a3;
  color: #000000;
  text-decoration: none;
}
/*=============================================Brand=============================================*/
.add_brands_btn {
  background-color: #d87300;
}

.edit_item_pen {
  color: #7d7d7d;
  text-decoration: none;
}
.edit_item_pen:hover {
  color: #d87300;
  cursor: pointer;
  text-decoration: none;
}
/*================================Product details==================================================*/
.details_page_btn {
  background-color: #d9d9d9;
}
.middle_align {
  display: table-cell;
  vertical-align: middle;
}
.buy_product_btn {
  background-color: #ff8a00;
  border-radius: 10px;
  font-size: medium;
  border: 0px;
}
/* .display_price {
  font-size: 30px;
} */
carousel-item {
  position: center;
}
/* .brand_select{
  position: absolute;
  overflow-y: scroll;
} */
/*=======================================CART===============================================*/
.cart_product_focus:hover {
  border-color: #ffd700;
}

/*==============================================================================================*/

/*==============================================================================================*/

/*==============================================================================================*/

/*==============================================================================================*/

/*==============================================================================================*/

/*==============================================================================================*/

/*==============================================================================================*/

/*==============================================================================================*/

/*==============================================================================================*/

/*==============================================================================================*/
